:root {
  --fontRegular: "Trip Sans Regular";
  --fontMedium: "Trip Sans Medium";
  --redText: #ff5d5d;
  --lightGreyText: #6b6b6b;
}

/* ================= GLOBAL ================ */

body {
  font-family: var(--fontRegular);
  background-color: white;
}
.container {
  max-width: 1140px;
  margin: 0px auto;
}
h1 {
  font-family: var(--fontMedium);
  font-size: 54px;
  font-weight: bold;
  margin: 20px 0;
}
h2 {
  font-family: var(--fontMedium);
  font-size: 28px;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: bold;
}
h3 {
  font-family: var(--fontMedium);
  font-size: 24px;
  margin: 15px 0;
}

/* ================ HEADER ==================== */

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  height: 40px;
  cursor: pointer;
}

header nav {
  display: flex;
  gap: 15px;
}
.nav_header {
  height: 40px;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.nav_header i {
  margin-right: 6px;
}
button.nav_header {
  background-color: black;
  border-style: none;
  color: white;
  padding: 0 15px;
}
.nav_header:hover {
  background-color: rgb(240, 240, 240);
}
button.nav_header:hover {
  background-color: rgb(50, 50, 50);
}

/* ================= MAIN ==================== */

/* --------- Titre ------------ */
.red_color {
  color: var(--redText);
}
.under_title {
  font-size: 14px;
  color: var(--lightGreyText);
}
.under_title a:visited {
  color: var(--lightGreyText);
}

/* -------------- Menu --------------  */
.menu {
  margin: 30px 0;
  height: 65px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.menu .selection {
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.menu .selection:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* -------------- Photos --------------  */
.cadre-photos {
  display: flex;
  height: 430px;
  margin-bottom: 20px;
  gap: 2px;
}
.cadre-photos img {
  object-fit: cover;
}
.cadre-photos .photo-left {
  flex: 5;
}
.cadre-photos .photos-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.cadre-photos .photos-right img {
  height: 50%;
}

p.navigation,
.navigation a {
  margin-bottom: 50px;
  font-size: 12px;
  text-decoration: none;
  color: var(--lightGreyText);
}
.navigation a:hover {
  text-decoration: underline;
}

/* ------------ Texte chapeau ----------- */
.main_text {
  margin-bottom: 40px;
}
.main_text p {
  font-size: 20px;
  width: 55%;
}

/* ------------- Articles --------------  */
.immanquables {
  height: 330px;
  display: flex;
  margin-bottom: 40px;
}
.immanquables p {
  margin-bottom: 15px;
}
.immanquables .text {
  width: 30%;
}
.immanquables .text a {
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}
.caroussel {
  width: 70%;
  display: flex;
  gap: 10%;
  overflow-x: scroll;
  box-sizing: border-box;
}
.diapo-caroussel {
  width: 24%;
  flex-shrink: 0;
}
.diapo-caroussel img {
  object-fit: cover;
  height: 200px;
}
.diapo-caroussel h3 {
  font-size: 18px;
}
.diapo-caroussel p {
  font-size: 14px;
  color: var(--lightGreyText);
}
.diapo-caroussel .heart {
  width: 40px;
  height: 40px;
  margin-top: -50px;
  font-size: 20px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -140px;
  left: 210px;
}
.diapo-caroussel .customer-choice {
  margin-top: -40px;
  width: 40px;
  height: 40px;
  background-color: yellow;
  position: relative;
  top: -20px;
  left: 10px;
}

/* ================= FOOTER ==================== */
footer {
  height: 200px;
  background-color: #faf1ec;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer img {
  width: 50px;
}
footer span {
  font-family: var(--fontMedium);
}
footer a {
  font-family: var(--fontMedium);
  text-decoration: none;
}
footer a:visited {
  text-decoration: none;
  color: black;
}
